button:hover {
  cursor: pointer;
}

.form-edit-balance {
  margin-bottom: 10px;
}

.form-edit-balance input,
.form-edit-balance button {
  line-height: 20px;
}

.form-edit-balance button {
  margin-left: 5px;
}